body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-size: calc(10px + 2vmin);
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

section > *+* {
  margin-left: 2rem;
}

button {
  padding: 0 1rem;
  border: none;
  font-size: 2rem;
  height: 3rem;
}

h1 {
  font-size: calc(20px + 6vmin);
  margin-top: 0;
  margin-bottom: 1rem;
  text-align: center;
}

p {
  text-align: center;
  margin-top: 0;
}

.count {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 4rem;
  color: #333;
}

[disabled] + .count {
  color: #999;
}

.add {
  background-color: mediumseagreen;
  color: #fff;
}

.sub {
  background-color: mediumvioletred;
  color: #fff;
}

.sub[disabled] {
  opacity: .5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

ul {
  list-style: none;
}

.checked {
  color: grey;
}

input {
  padding: 10px;
  border: 2px solid black;
  margin: 2px;
  max-width: 300px;
}


button {
  padding: 10px;
  margin: 0 15px;
  height: auto;
  font-size: 1em;
  text-align: center;
  vertical-align: middle;
  background: transparent;
  color: black;
  cursor: pointer;
}

button:disabled {
  color: grey;
  cursor: default;
}

button.remove {
  border-radius: 3px;
  border: 2px solid #9e1c1c;
  color: white;
  padding: 2px 5px;
  font-size: .8em;
  background-color: #de3434;
  cursor: pointer;
}

button.remove:disabled {
  cursor: default;
  background-color: #c5c5c5;
  border: 2px solid #adadad;
  color: grey;
}
button.remove:hover {
  opacity: .9;
}
button.remove:active {
  opacity: .8;
}

.listItem {
  position: relative;
  display: flex;
  align-items: center;
}


.listItem label {
  position: relative;
  cursor: pointer;
  transition: .3s;
  padding: 3px;
  margin: 10px;
}

.listItem.checked label {
  color: grey;
}

.listItem label:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  transition: .3s; 
}

.listItem.checked label:after {
  width: 100%;
}

li {
  margin: 10px 0;
}